@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

#join-button {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px;
  margin-left: 40px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
  width: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#log-in-button {
  color: black;
  text-decoration: none;
  width: 50px;
}

#search-button {
  background-color: #fb3b49;
  height: 35px;
  border: none;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(242, 242, 242);
  width: 75%;
  max-width: 900px;
  min-width: 500px;
}

#lower-header {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 70px;
  margin-right: 1rem;
}

#essential {
  width: 45%;
}

.search-container {
  width: 100%;
  height: 35px;
  color: rgba(0, 0, 0, 0.05);
  background-color: rgb(242, 242, 242);
  border: none;
}

#magnifying-glass {
  color: rgba(0, 0, 0, 0.05);
  height: 20px;
  width: 20px;
  margin-left: 12px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgba(232, 217, 217, 0.3);
  text-align: center;
  height: 600px;
}

#section-1-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 900;
}

#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#see-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  margin-right: 20px;
  text-decoration: unset;
  font-weight: bold;
  color: white;
}

#join-for-free {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  bottom: auto;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  text-decoration: unset;
  font-weight: bold;
}

.section-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.triangle-hexagon {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  height: 200px;
  padding: 42px;
}

#subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-style: italic;
  padding: 0 36px;
  transform: skew(9deg, 0deg);
  background-color: rgba(255, 204, 53, 0.4);
  margin: 0 auto;
}

#npm {
  width: 800px;
  margin-top: 20px;
  margin: 38px;
}

.icon-configuration {
  width: 40px;
  height: 40px;
}

.nose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 100;
  font-size: 15px;
  margin: 100px auto;
  width: 80%;
  margin-bottom: 30px;
}

.organization-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 180px;
}

.zero {
  color: #ed1c24;
  font-size: 16px;
  margin-bottom: 0;
}

#org {
  margin-bottom: 40px;
  background-color: #000000;
  height: 49px;
  width: 100px;
  border: none;
  color: white;
  width: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: unset;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  align-self: center;
  margin-top: 28px;
  margin-bottom: 54px;
}
